<div class="jumbotron">
    <h1>Super Duper Cloud Messenger</h1>
    <p class="lead">Super Duper Cloud Messenger is a free cloud messaging service where you can send images and text to your friends. Now also supports Google login!</p>
</div>